.no-padding {
  padding: 0px 0px 0px 0px !important;
}

.map {
  width: 100%;
  height: 100vh;
}

a{
  color: black;
}

.vcenter {
    display: inline-block;
    float: none;
}

#weatherView {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: white;
  background-color: black;
  padding: 20px 50px;
  opacity: 0.6;
}

.weather-description {
  vertical-align: middle;
  font-size: 19px;
}

.weather-title {
  color: orange;
  font-weight: 600;
}

.weather-result {
  color: #fff;
  font-weight: 100;
}

#pano {
  width: 250px;
  height: 250px;
}

@media only screen and (max-width: 992px) {
  div.collapse {
    display: none;
  }
}
